.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  flex: 1;
  padding: 1rem 0;
  margin: 0 auto;
  width: 95vw;
  max-width: 1600px;
}

section p {
  font-weight: bolder;
  margin-bottom: 1rem;
  line-height: 150%;
}

input.search {
  width: 100%;
  padding: 0.4rem 1rem;
  border: none;
  outline: none;
  font-size: 120%;
  position: relative;
}

input.search::placeholder {
  font-weight: bolder;
}

.search-results {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 1px solid black;
}

.search-results a {
  display: block;
  width: 100%;
}

.search-box {
  display: flex;
  width: 90vw;
  margin: auto;
  border: 1px solid black;
  padding: 0.4rem 0;
  margin-bottom: 2rem;
  position: relative;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.search-box:focus-within {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-box:focus-within .search-results {
  display: flex;
}

.search-icon {
  width: 20px;
  aspect-ratio: 1;
  margin-right: 10px;
  border: none;
}

div.error {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.error-mes {
  font-size: 110%;
}

section h2 {
  color: black;
  margin: 1rem 0;
  margin-top: 2rem;
}

.featured-places {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 3rem 0;
  padding-top: 0.4rem;
  color: white;
  flex-grow: 1;
}

@media all and (min-width: 425px) {
  span.error-mes {
    font-size: 130%;
  }
}

@media all and (min-width: 768px) {
  .featured-places {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  span.error-mes {
    font-size: 150%;
  }

  .search-box {
    width: 75vw;
  }
}

@media all and (min-width: 1024px) {
  .featured-places {
    grid-template-columns: repeat(4, 1fr);
  }

  span.error-mes {
    font-size: 180%;
  }

  .search-box {
    width: 60vw;
  }
}

@media all and (min-width: 1440px) {
  span.error-mes {
    font-size: 230%;
  }
}
