.navbar-wrapper {
  width: 100vw;
  background-color: black;
  color: white;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  max-width: 1500px;
  margin: auto;
}

.brand {
  font-size: 150%;
}

.left {
  display: flex;
  flex: 1;
  padding-left: 1rem;
}

.right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
}

/* //TODO */
@media all and (min-width: 769px) {
  .navbar-container {
    height: 75px;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  .left {
    padding-left: 1.5rem;
  }
}

@media all and (min-width: 1025px) and (max-width: 1439px) {
  .left {
    padding-left: 2rem;
  }
}

@media all and (min-width: 1440px) {
  .left {
    padding-left: 2.3rem;
  }
}
