<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/root.style.css" />
    <link rel="stylesheet" href="/style/hamburger.style.css" />
    <link rel="stylesheet" href="/style/navbar.style.css" />
    <link rel="stylesheet" href="/style/sidebar.style.css" />
    <link rel="stylesheet" href="/style/index.style.css" />
    <link rel="stylesheet" href="/style/footer.style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="page-content">
      <!-- Header -->
      <header><%- include('../component/navbar.component.ejs') %></header>
      <!-- Error -->
      <div class="error">
        <% if (err === 'no-page') { %>
        <span class="error-mes">404 No matching location found</span>
        <% } else { %>
        <span class="error-mes"
          >404 Something went wrong please try again later</span
        >
        <%} %>
      </div>
      <!-- Sidebar -->
      <%- include('../component/sidebar.component.ejs') %>
      <!-- Footer -->
      <%- include('../component/footer.component.ejs') %>
    </div>
    <script src="/script/index.js"></script>
    <script src="/script/hamburger.js"></script>
    <script src="/script/sidebar.js"></script>
  </body>
</html>
