<nav class="navbar-wrapper">
  <div class="navbar-container">
    <div class="left">
      <a class="brand" href="/">Weathery</a>
    </div>
    <div class="right">
      <%- include('../component/hamburger.component.ejs') %>
    </div>
  </div>
</nav>
